body{
    font-family: "Verdana", sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
/*
*,
*:before,
*::after {
    box-sizing: border-box;
}
*/
/* Контейнер нужен, чтобы элементы не 
расстягивались на всю ширину экрана
Разделить элементы экрана на столбы сложно
Группировка элементов дизайна оптимизирует добавления интер
валов*/

/*wrap*/
.wrap {
    height: 100%; 
    width: 100%;
    background: url(../rsschool-cv/images/notepad-g9977e9b2c_1920.jpg);
}
/* Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
